.discs-add-bag__dropdown {
  position: absolute;
  background-color: #ffffff;
  right: 20px;
  top: 40px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.hidden {
  display: none;
}

.add-to-bag__container > button {
  width: 100px;
  background-color: #284b63;
  height: 30px;
  border-radius: 10px;
  color: white;
}
