.disc_details__main {
  display: flex;
  background-color: #faf9f9;
  max-height: 700px;
  justify-content: center;
}

.disc_details__left-img > img {
  width: 15rem;
  height: 15rem;
}

.disc_details__main > section {
  margin: 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 20px;
  background-color: #ffffff;
  flex: 1;
}

.disc_details__left {
  color: black;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 600px;
}

.disc_details__left-table {
  display: flex;
  justify-content: space-around;
}

.disc_details__left-table table {
  border-collapse: collapse;
  margin: 25px 10px;
  font-size: 0.8rem;
  border-radius: 20px;
  width: 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.disc_details__left-table thead tr {
  background-color: #284b63;
  color: #ffffff;
  text-align: center;
}

.disc_details__left-table th,
td {
  padding: 12px 15px;
  text-align: center;
}

.disc_details__left-header {
  border-bottom: 1px solid #000000;

  text-align: center;
  height: 50px;
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}
.disc_details__left-header-bag > select {
  height: 30px;
  border-radius: 10px;
}

.disc_details__left-header-bag {
  position: relative;
  display: flex;
  gap: 20px;
}

.disc_details__left-img-description {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.disc_details__right {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1144px) {
  .disc_details__main {
    flex-wrap: wrap;
    overflow-y: scroll;
  }

  .disc_details__left-table {
    flex-wrap: wrap;
  }
  .disc_details__left-img-description {
    flex-wrap: wrap;
  }
}
