.course-rounds__container {
  height: 50vh;
  width: 100%;
  padding: 10px;
  margin: 0 auto;
}

.course-rounds__options-container > h3 {
  margin: 10px 0;
  text-align: center;
}

.course-rounds__map {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 20px;
  width: 100%;
  height: 100%;
}
.course-rounds__options-container {
  display: flex;
  flex-direction: column;
}

.course-rounds__next-prev {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 5px;
  padding: 10px;
}

.course-rounds__next-prev > button {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  color: black;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.text-overlay {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}

.course-rounds__actions {
  display: flex;
  justify-content: center;
  gap: 20px;
}
