.create_disc__main {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}

.create_disc__main textarea,
input,
select {
  color: #757575;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  padding-left: 10px;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.create_disc__main textarea {
  height: 100px;
}

.create_disc__main > button {
  height: 40px;
  color: #ffffff;
  border-radius: 10px;
  width: 100%;
  background-color: #284b63;
}

.create_disc__info,
.create_disc__flight,
.create_disc__dimensions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.create_disc__form {
  display: flex;
  gap: 10px;
}
.create_disc__form > div {
  width: 100%;
}
