.course-landing__container > button {
  background-color: #284b63;
  position: absolute;
  bottom: 40px;
  right: 40px;
  width: 120px;
  height: 50px;
  border-radius: 10px;
  color: white;
}

.course-landing__main {
  display: flex;
  gap: 20px;
  margin: 20px;
}
