.create-course__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.create-course__form {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.create-course__form > button {
  height: 40px;
  color: #ffffff;
  border-radius: 10px;
  width: 100%;
  background-color: #284b63;
}
.create-course__form-info {
  display: flex;
  gap: 15px;
}

.create-course__form-info > div {
  min-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.text-overlay-create-course {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}
